    /*
    Flaticon icon font: Flaticon
    Creation date: 03/05/2017 19:00
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-tools:before { content: "\f100"; }
.flaticon-empty-shopping-cart:before { content: "\f101"; }
.flaticon-graduate-student-avatar:before { content: "\f102"; }
.flaticon-bank-building:before { content: "\f103"; }
.flaticon-transport:before { content: "\f104"; }
.flaticon-notebook:before { content: "\f105"; }
.flaticon-shopping-cart:before { content: "\f106"; }
    
    $font-Flaticon-tools: "\f100";
    $font-Flaticon-empty-shopping-cart: "\f101";
    $font-Flaticon-graduate-student-avatar: "\f102";
    $font-Flaticon-bank-building: "\f103";
    $font-Flaticon-transport: "\f104";
    $font-Flaticon-notebook: "\f105";
    $font-Flaticon-shopping-cart: "\f106";