	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/05/2017 19:00
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-tools:before { content: "\f100"; }
.flaticon-empty-shopping-cart:before { content: "\f101"; }
.flaticon-graduate-student-avatar:before { content: "\f102"; }
.flaticon-bank-building:before { content: "\f103"; }
.flaticon-transport:before { content: "\f104"; }
.flaticon-notebook:before { content: "\f105"; }
.flaticon-shopping-cart:before { content: "\f106"; }