html, body, #map-filter {
    height: 100%;
}
.tabs-content.carousel, .tabs-content.carousel .carousel-item, .height100 {
    height: 100% !important;
}
/*Estilos Mapa*/

.detailInmueble {
    position: fixed;
    bottom: -110px;
    margin-bottom: 0;
    padding: 8px;
    background-color: white;
    width: 100%;
    height: 100px;
    z-index: 999;
}
.detailInmueble img {
    width: auto;
    height: auto;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.rangoMapa ul {
    margin: 0;
    display: flex;
    font-weight: bold;
}
.rangoMapa ul li {
    flex: auto;
    padding: 15px 0px;
    border: solid 1px #D88E41;
}
.rangoMapa ul li.active {
    color: white;
    background-color: #D88E41;
}
.detailInmuebleFull {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 110px;
}
.optDetailInmueble {
    position: fixed;
    bottom: -100%;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    z-index: 1001;
}
.carousel-slider {
    height: 200px !important;
    background-color: #eeeeee;
}
.carousel.carousel-slider .carousel-item {
    min-height: 100% !important;
}
.prev {
    width: 7%;
    height: 200px;
    display: table;
    float: left;
    margin-left: 10px;
    position: absolute;
    top: 0;
    text-align: center;
    cursor: pointer;
}
.prev .icon {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.prev .icon .icono {
    height: 28px;
    display: table-cell;
    vertical-align: middle;
    width: 34px;
    background-color: #bdbdbd;
}
.next {
    width: 7%;
    height: 200px;
    display: table;
    float: right;
    margin-right: 10px;
    position: absolute;
    top: 0;
    text-align: center;
    right: 0;
    cursor: pointer;
}
.next .icon {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.next .icon .icono {
    height: 28px;
    display: table-cell;
    vertical-align: middle;
    width: 34px;
    background-color: #bdbdbd;
}
.closeInfoWindow {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1px 5px 0px 5px;
    border: solid 1px #616161;
    border-radius: 50%;
    top: -9px;
    background-color: #e0e0e0;
    color: #616161;
}
.fotoInfoWindow {
    width: 25%;
    height: 100%;
    border: 1px #e0e0e0 solid;
}
.infoGeneral {
    height: 100%;
    width: 40%;
    font-size: 11px;
    line-height: 27px;
    vertical-align: top;
}
.infoGeneral .propiedades ul{
    display: flex;
    margin: 0 !important;
}
@media (max-width: 320px){
    .infoGeneral .propiedades ul{
        font-size: 10px;
    }
}
.infoGeneral .propiedades ul li{
    flex: auto;
    text-align: center;
}
.infoDes {
    height: 100%;
    width: 30%;
    text-align: right;
    font-size: 11px;
    line-height: 45px;
    vertical-align: top;
    padding-top: 3px;
}
.preloadDetail {
    width: 100%;
    bottom: 0;
    text-align: center;
    position: fixed;
    display: none;
}
.places {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #D88E41;
    z-index: 1000;
    overflow-x: auto;
}
.places ul {
    margin: 0;
}
.places ul li {
    display: inline-block;
    font-size: 1.8em;
    padding: 10px 0px;
    width: 60px;
    color: white;
    cursor: pointer;
}
.places ul li.active {
    background-color: #C8532B;
    color: white;
}
/*Listado de Inmuebles*/

.listInmueble {
    padding: 8px;
    background-color: white;
    width: 100%;
    height: 100px;
    border-bottom: solid gray 1px;
}
.listInmueble img {
    width: auto;
    height: auto;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
#listado {
    /*padding-top: 55px;*/

overflow-x: auto;
}
#filtroMapa, #contacto {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    top: 0 !important;
}
/*Clases Especiales*/

p {
    margin: 0px;
}
.displayinline {
    display: inline-block;
}
#sidenav-overlay {
    opacity: 0 !important;
}
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 99999;
    top: 0;
    left: 0;
    text-align: center;
    color: #FFFFFF;
}
.preloader .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    height: 100%;
    display: table;
}
.preloader .tablecell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
/*Estilos Tabla*/

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
.table-striped>tbody>tr: nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 10px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
th {
    text-align: left;
}
td, th {
    padding: 0;
}
table tr td {
    width: 50%;
    white-space: normal;
}
.table h2, .collapsible-body h2 {
    border-bottom: 1px solid rgba(109, 109, 109, 0.4);
    font-size: 1.5em;
    margin: 0 0 30px 0;
    padding: 20px 0 20px 0;
}
/*Validaciones de formularios*/

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #a94442;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control: focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
}
.has-error .form-control-feedback {
    color: #a94442;
}
.thumb.active {
    display: none !important;
}
#toast-container {
    bottom: 12% !important;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 70%;
    margin-top: 15px;
}
#pac-input: focus {
    border-color: #4d90fe;
}
.pac-container {
    font-family: Roboto;
}
#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}
#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
#target {
    width: 345px;
}
.flaticon-tools::before{
    font-size:15px !important;
    margin-left: 0px !important;
}